*{
    box-sizing: border-box;
}

body {
    background: cadetblue;
}

.navbar {
    background-color: rgb(14, 56, 58);
    width: 100%;
}

.navbar-brand {
    color: white;
}

.nav-link {
    color: white;
}

.dropdown-menu {
    color: white;
}
h1 {
    text-align: center;
    color: rgb(14, 56, 58);
    font-size: 90px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
}

#about_me {
    border-right: 8px solid rgb(14, 56, 58);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif; 
    display: grid;
    place-items: center;
}

#middle {
    font-size: 20px;
}

#blank_space {
    height: 50px;
}

#work {
    border-right: 8px solid rgb(14, 56, 58);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif; 
    display: grid;
    place-items: center;
}


#work_example {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

#blank_space2 {
    height: 100px;
}

#contact_me {
    border-right: 8px solid rgb(14, 56, 58);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif; 
    display: grid;
    place-items: center;
}

#contact_info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}